
/* CSS styles for mobile devices */
@media only screen and (max-width: 767px) {
    
    :root{
        --first-color: #8956f1;
        --second-color:#cb80ff;
        --third-color:#241b35;
        --fourth-color:#020102;
        --header-font:'Prata', serif;
        --body-font:'Inter', sans-serif;
        --text:#ffffffb0;
        --header:white;
      }
      body{
        scroll-behavior: none;
        width: fit-content;
      }
    .desktop{
        display: none;
    }
     .mobile{
        border: none;
     }
     .mobile:hover{
        transform: matrix3d(1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1);

     }

     .brands{
        
        display: grid;
        gap: 2rem;
        margin: 3rem 1rem 3rem 0rem;
        grid-template-columns: 1fr 1fr;
        place-items: center;
     }
     #Article{
        margin-bottom: 5rem;
     }
     
     #Article img{
       width: 100%;
     }
     #Article a{
        color: var(--header);
        text-decoration: none;
     }
     #About{
        background-color: var(--third-color);
        padding: 3.1rem;
        margin: -3rem;
     }
     #About div:first-of-type{
        margin-bottom: 4rem;

     }
    
     #Chats{
        margin-top: 2rem;
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 2rem;
        background-color: var(--fourth-color);
     }
     footer div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--third-color);
        margin-left: -7.98rem;
        margin-right: -3rem;
        padding: 0rem 2rem 0rem 8rem;
     }
     .get{
        padding: 1rem;
        color: var(--header);
        background-color: var(--second-color);
        border: none;
        transition: 1s;
     }
   
     .get:hover, .get:focus{
        box-shadow: 
    inset -3.5em 0 0 0 var(--third-color),
    inset 3.5em 0 0 0 var(--third-color);  
}
a{
    position: relative;
    cursor: pointer;
}
a::before{
    content: '';
    background-color:var(--header);
    height: 4px;
    width: 0;
    position: absolute;
    top: 78%;
    transition: width 0.5s;
}
a:hover::before{
    content: '';
    width: 100%;
}

}
  
